.article {
    @include eq-padding(8, 34);

    p {
        font-size: 18px;
        text-align: justify;
    }

    @media (max-width: $desktop-xs) {
        @include eq-padding(2, 34);
    }
}

.article__image {
    text-align: center;

    img {
        width: 400px;
    }

    @media (max-width: $tablet) {
        img {
            width: 350px;
        }
    }

    @media (max-width: $mobile) {
        img {
            width: 100%;
        }
    }


}