.catalog {
    @include resetList;
    margin-top: 16px;
    margin-bottom: 16px;
}

.catalog__item {
    @include row;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--black);

    &:last-child {
        border-bottom: 1px solid var(--black);
    }
}

.catalog__item-image {
    @include column(7, 18);
    @include eq-padding(0.5, 18);

    img {
        width: 100%;
    }
}

.catalog__item-info {
    @include column(11, 18);
    @include eq-padding(1, 18);
}

.catalog__item-name {
    a {
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: var(--black);

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: var(--gray);
        }
    }
}

.catalog__info-list {
    @include resetList;
}

.catalog__info-item {
    span {
        display: inline-block;
        width: 100px;
        font-size: 14px;
    }
}
