.crossword {
    border: 2px solid var(--black);
}

.crossword__background {
    fill: var(--black);
}

.crossword__cell {
    // fill: var(--white);

    rect {
        fill: var(--white);
    }
}

.crossword__cell--black {
    // fill: var(--black);

    rect {
        fill: var(--black);
    }
}

.crossword__text {
    font-size: 48px;
}

.crossword__hint {
    .crossword__cell {
        fill: var(--gray);
    }
}

.crossword__cross {
    display: none;
}

.crossword__cross--show {
    display: block;
}