nav.main-menu
    ul.main-menu__list
        li.main-menu__item
            a(href="/").main-menu__link Главная
        li.main-menu__item
            a(href="/catalog.html").main-menu__link Каталог
        li.main-menu__item
            a(href="/learn.html").main-menu__link Как решать