extends ./templates/layout.jade
include ./mixins/header.jade

block title
    title Японские кроссворды

block content
    +header(true, false, false)

    h1.page-title.visually-hidden Японские кроссворды

    main.main-content
        article.article
            div.article__image
                img(class="article__image", src="img/logo.png", alt="Логотип")

            p.
                Японский кроссворд или нонограммы – это головоломка, в результате решения которой будет получено
                изображение. Картинка закодирована числами, расположенными слева от строк и сверху над столбцами.
                Количество чисел показывает, сколько черных (либо своего цвета для цветных кроссвордов) квадратов
                подряд закрашено в соответствующих строке либо столбце. Между каждыми такими группами должна быть
                минимум одна пустая клетка.
            p.
                Нонограммы появились в Японии в конце XX века. 
            p.
                Одним из авторов была иллюстратор и графический редактор Нон Исида, которая утверждала, что создала
                нонограммы еще в конце 70-х как средство общения между людьми и животными. Другим создателем японских
                кроссвордов был Тэцуя Нисио, который придумал головоломки "Рисование по числам".
            p.
                Изначально эти головоломки не вызвали ровным счетом никакого интереса у поклонников кроссвордов. Но в
                конце 80-х начале 90-х ситуация кардинально изменилась. Исида показала эти рисунки некому Джеймсу Далгети.
                Он славился большим любителем головоломок. Англичанин решил, что эти рисунки очень интересные, и написал в
                газету «The Telegraph» о том, что руководство этого издания просто обязано каждую неделю публиковать их.
                Правда, немногим позднее одна из авторов кроссвордов Нон Исида прекратила сотрудничество с британским
                изданием «The Telegraph». Именно поэтому «The Telegraph» решил организовать очередной конкурс на лучшее
                название японских кроссвордов. Выбор читателей пал на «Griddlers».
            p.
                В 1993-м эти ребусы уже печатались в крупнейших газетах Страны восходящего солнца. Потом вышел и первый
                сборник таких кроссвордов в Великобритании. Позднее японские кроссворды стали популярны в Америке, в
                европейских странах, а потом, в результате, уже и на всей планете. На данный момент эти ребусы печатаются
                в колоссальном количестве в ряде изданий по всему миру. Они публикуются в Соединенных штатах, Германии,
                Англии, Италии, Голландии, Венгрии, Финляндии и во многих других государствах, включая, конечно же, и Россию.
                А когда глобальная сеть прочно вошла в нашу повседневную жизнь, японские кроссворды оказались еще более
                популярными.
