$desktop-xs: 1024px;
$tablet: 768px;
$mobile: 480px;

:root {
    --black-cell: black;
    --black: #444444;
    --white: white;
    --gray: #C7C7C7;
    --light-blue: #e1f6ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', 'Arial', sans-serif;
}

@mixin resetList() {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
